<label> Server name</label>
<input type="text" class="form-control"
(input)="OnUpdateName($event)">
<input type="text" class="form-control"
[ngModel]="ServerNameUpdate"> <!-- shouldn't use the banana-box with ngModel if you're manaully setting the change event -->
<p>{{ServerNameUpdate }}</p>
<button type="button" class="btn btn-primary" [disabled]="!ToggleButtonserver" (click)="onServerclick()">Add Server</button>
<!-- <p [innerText]="ServercreateStatus"></p> -->
<p *ngIf= "ServerUpdated ; else noserver;">Server Created {{ServercreateStatus}}</p> <!-- Directive binding for else stat use <ng-template #noserver> <p> no server created </ng-template> -->
<ng-template #noserver>  <!-- local variable #noserver-->
    <p>No server is created</p>
</ng-template>

    <p>servers Button works!</p>
 <app-server *ngFor="let server of servers"></app-server> 